.table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 98%;
    max-width: 900px;
    min-height: 650px;
    margin:auto;
   /* border: 2px solid red;*/
}
.table div{
        /*border: 2px solid blue;*/
    
}
.table p{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 18px;
}
.table h2{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 1px;
}
.board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-top: -3%;
    width:100%;
    padding: 5px 25px;
    background-color: rgba(255, 0, 0, 0.1);
 
}

.colum{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-auto-rows: 1fr;
    gap: 7px;
}
.spaces{
    min-width: 24px;
    height: 24px;
    background-color: rgba(255, 0, 0, 0.1);
    opacity: 30%;
}
.spacesA{
    min-width: 24px;
    height: 24px;
    background-color:white;
    border-radius:50%;
    border: 2px dotted black;
   
}
.spacesRed{
    min-width: 24px;
    height: 24px;
    background-color: red;
    border-radius:50%;
    opacity: 50%;
    border: 2px dotted black;
}
.spacesBlue{
    min-width: 24px;
    height: 24px;
    background-color:blue;
    border-radius:50%;
    opacity: 50%;
    border: 2px dotted black;
}
.spacesGreen{
    min-width: 24px;
    height: 24px;
    background-color:green;
    border-radius:50%;
    opacity: 50%;
    border: 2px dotted black;
}
.spacesYellow{
    min-width: 24px;
    height: 24px;
    background-color:yellow;
    border-radius:50%;
    opacity: 50%;
    border: 2px dotted black;
}
.home{
    margin-top: 5px;
    min-height: 100px;
    width:25%;
    margin-bottom: 0;
    padding: 0px;
    
}

.home div{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  

}
.home img{
    margin:5px;
    border-radius: 50%;
    min-width: 32px;
    
}
.pionekRed{
    background-color: red;
}
.pionekBlue{
    background-color: blue;
}
.pionekGreen{
    background-color: green;
}
.pionekYellow{
    background-color: yellow;
}
.controls{
    min-height: 100px;
    width: 40%;
    margin-bottom: 0;
}
.buttons{
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 2px;
    flex-wrap: wrap;
}
.buttons button{
    
    margin: 5px 2px;
    min-width: 120px;
    min-height: 25px;
}
.scors{
    min-height: 100px;
    width: 40%; 
   
}
.scors h1{
    text-align: center;
    
}
h3{
    font-size: 22px;
    align-items: center;
    margin-top: 5px;
   
}